:host {
  flex: 0.65;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.list .lists {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task {
  padding: 20px 20px;
}

.detail-container {
  flex: 1 1 auto;
}

.detail-container p {
  margin: 0px
}


.title {
  color: #666666;
  font-size: 22px !important;
  margin-bottom: 5px !important;
}

.description {
  color: #666666;
  font-size: 16px;
}

.date {
  margin-top: 10px!important;
  font-size: 14px;
}
