<div class="list">

  <div class="lists">
    <div *ngFor="let task of tasks" matRipple (click)="doneTask(!task.done,task)"
         (contextmenu)="onContextMenu($event, task)">
      <div class="task row">
        <div class="detail-container">
          <p class="title">{{task.title}}</p>
          <p *ngIf="task.description" class="description">{{task.description}}</p>
          <p class="date">{{getDate(task.date)}}</p>
        </div>
        <div class="checkbox-container">
          <mat-checkbox [checked]="task.done" [value]="task._id"
                        (change)="doneTask($event.checked,task)"></mat-checkbox>
        </div>
      </div>
    </div>

  </div>

  <mat-nav-list class="add-new">
    <a mat-list-item (click)="addTask()">
      <div style="width: 100%; text-align: center;">Add new Task</div>
    </a>
  </mat-nav-list>


  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-task="task">
      <button *ngIf="params.id !== api.mainList._id" mat-menu-item (click)="moveTask(task)">Move to DailyList</button>
      <button mat-menu-item (click)="editTask(task)">Edit</button>
      <button mat-menu-item (click)="deleteTask(task)">Delete</button>
    </ng-template>
  </mat-menu>

</div>
