.list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list .mat-list-item-content {
  border-left: 5px solid transparent;
}

.list.selected .mat-list-item-content {
  border-color: #396AFC !important;
}

.list .title {
  color: #666666;
  font-size: 22px;
  line-height: 30px;
}

.list .date {
  color: #999999;
}

.list .lists{
  flex: 1 1 auto;
}
