<a mat-list-item [routerLink]="['/tasks', list._id]" class="list" [class.selected]="selected">
  <h2 matLine class="title">{{list.title}}</h2>
  <p *ngIf="list.date" matLine class="date"> {{getDate(list.date) }} </p>
</a>

