<h1 *ngIf="data.editMode" mat-dialog-title>Edit Task</h1>
<h1 *ngIf="!data.editMode" mat-dialog-title>Add new Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Title" [maxLength]="30" >
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.description" [maxLength]="40" placeholder="Description" >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{data.editMode ? 'Edit' : 'Add'}}</button>
</div>
