<div class="list">
  {{selected}}
  <mat-nav-list class="lists">
    <app-list-item *ngFor="let list of lists" [list]="list" [selected]="params.id === list._id"
                   (contextmenu)="onContextMenu($event, list)"></app-list-item>
    <app-list-item [selected]="params.id === complated._id" [list]="complated"
                   (contextmenu)="onContextMenu($event, complated)"></app-list-item>
  </mat-nav-list>
  <mat-nav-list class="add-new">
    <a mat-list-item (click)="addList()">
      <div style="width: 100%; text-align: center;">Add new list</div>
    </a>
  </mat-nav-list>

  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-list="list">
      <button mat-menu-item (click)="editList(list)">Edit</button>
      <button mat-menu-item (click)="deleteList(list)">Delete</button>
    </ng-template>
  </mat-menu>
</div>
