<h1 *ngIf="data.editMode" mat-dialog-title>Edit list</h1>
<h1 *ngIf="!data.editMode" mat-dialog-title>Add new list</h1>
<div mat-dialog-content>
  <p>Please enter a valid name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title"[maxLength]="18">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.title.trim()" cdkFocusInitial>{{data.editMode ? 'Edit' : 'Add'}}</button>
</div>
