app-add-task mat-form-field{
  width: 100%;
  font-size: 30px!important;
}

app-add-task  .mat-form-field-label , app-add-task mat-icon {
  color: #CACACA!important;
}

app-add-task .mat-form-field-underline{
  background-color: #CACACA!important;
}
