<form #TaskForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Add task" [(ngModel)]="title" name="title">
    <mat-icon matSuffix>add_circle_outline</mat-icon>
  </mat-form-field>
</form>
